<h2>Show leg state</h2>

<ul>
  <li>
    <strong>Status:</strong>
    <%= @leg_state.status %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @leg_state.user %>
  </li>

</ul>

<%= link "Edit", to: leg_state_path(@conn, :edit, @leg_state) %>
<%= link "Back", to: leg_state_path(@conn, :index) %>
