<h2>Show traveler</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @traveler.name %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @traveler.user.name %>
  </li>

  <li>
    <strong>Journey:</strong>
    <%= @traveler.journey.name %>
  </li>

</ul>

<%= link "Edit", to: traveler_path(@conn, :edit, @traveler) %>
<%= link "Back", to: traveler_path(@conn, :index) %>
