@model SomedayIsle.WebApp.Models.JourneyFormModel


<div class="col-sm-4 col-sm-offset-2">
    <h3>Create</h3>
    @using (Html.BeginForm())
    {
    @Html.EditorFor(m => m.Id);
    @Html.EditorFor(m => m.Summary);

    <input type="submit" class="btn btn-default" />
    }
</div>

<div class="puff-lead col-sm-3">

    <h2>What it is?</h2>
    <p class="lead">
        DailyOps is a web application that helps you focus on the things you need to get done.
        One at the time.
    </p>
</div>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Planning</h1>
                <h2>Pnannin - Journey index</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">

    </section>
</div>
