<h2><%= @leg.name %> <small>- <%= @leg.journey.name %></small></h2>
<h4></h4>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @leg.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @leg.description %>
  </li>

</ul>

<%= link "Journey", to: journey_path(@conn, :show, @leg.journey) %>
 | 
<%= link "Edit", to: leg_path(@conn, :edit, @leg) %>
 | 
<%= link "Back", to: leg_path(@conn, :index) %>
