
body, div.jumbotron
{
    background-color: #ddd;
}
div.jumbotron
{
    margin-bottom: 0;
    padding: 1rem;
}

h1, h2, h3, h4 {
    text-align: center;
    text-shadow: 0em 0em 0.2em #fff;
    margin-bottom: .5rem;
    font-weight: 200;
    color: #333;
    text-align: center;
}

/*
@media screen and (max-width: 480px) {
body, div.jumbotron
{
    background-color: #999;
    background-color: #999;
}
}
*/