<h2>Show travel plan</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @travel_plan.name %>
  </li>

</ul>

<%= link "Edit", to: travel_plan_path(@conn, :edit, @travel_plan) %>
<%= link "Back", to: travel_plan_path(@conn, :index) %>
