

<%= link "Edit", to: journey_path(@conn, :edit, @journey) %>
<%= link "Back", to: journey_path(@conn, :index) %>
<hr/>
<h1><small>Destination:</small> <%= @journey.name %></h1>
<p class="lead">
    <%= @journey.description %>
</p>




<h2>Prerequisites</h2>
<h2>Stops</h2>


  <tbody>
<%= for pitstop <- @journey.pitstops do %>
    <tr>
      <td><%= pitstop.title %></td>
      <td><%= pitstop.description %></td>

    </tr>
<% end %>
  </tbody>
<ul>

</ul>

