<h2>Show pitstop</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @pitstop.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @pitstop.description %>
  </li>

  <li>
    <strong>Journey:</strong>
    <%= @pitstop.journey_id %>
  </li>

</ul>

<%= link "Edit", to: pitstop_path(@conn, :edit, @pitstop) %>
<%= link "Back", to: pitstop_path(@conn, :index) %>
